@font-face {

    font-family: 'win8';

    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');

    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),

        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),

        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),

        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');

    font-weight: normal;

    font-style: normal;

}

body {
  font-family: 'win8';
  font-size: 16px;
  background: #F1F2F7;
}



.navbar {margin-bottom: 0px;border-radius:0px;}

.navbar-default {background-color:#1F2022; border:none;}

.navbar-nav>li>a {padding-top:25px;padding-bottom:25px;}

.navbar-default .navbar-brand {padding:25px 90px;background-color:#1F2022;}

.navbar-default .navbar-brand:hover {background-color:#1F2022;}

.navbar-brand {padding:22px 90px;}

.navbar-default .navbar-nav>li>a {color:#FFFFFF;}

.navbar-default .navbar-nav>li>a:hover {color:#c9c1d1;}

.navbar-default .nav>li>a {background-color:#1F2022;}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {color:#FFFFFF;}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {color:#c9c1d1;}

.navbar-default .navbar-nav>.dropdown>a .caret {border-top-color: #c9c1d1;border-bottom-color: #c9c1d1;}

.navbar-default .navbar-nav>.dropdown>a:hover .caret {border-top-color: white;border-bottom-color: white;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {

    background-color: #1F2022;

    color: white;

}

.navbar-default .navbar-brand {color: #B6AEBD;}

.navbar-default .navbar-brand:hover {color: #c9c1d1;}

.dropdown-menu {background-color:#1F2022;}

.dropdown-menu .divider {background-color:#5a4b75;}

.dropdown-menu>li>a {padding: 7px 25px;color:#B6AEBD;}

.dropdown-menu>li>a:hover {background-color:#4d4165;}



.link-color-frapsy {color: #898989;}

.link-color-frapsy:hover {color: #898989;}

.progress {margin-bottom: 0px;}

.my-hint {color: #999;font-size: 14px;}

.header {margin-top: -70px;height: 70px;width: 100%;position: fixed;z-index: 5;background: white;-webkit-box-shadow: -9px -8px 3px 8px rgba(50, 50, 50, 0.44);-moz-box-shadow: -9px -8px 3px 8px rgba(50, 50, 50, 0.44);box-shadow: -9px -8px 3px 8px rgba(50, 50, 50, 0.44);}

.header .my-brand {width: 250px;height: 70px;float: left;color: white;background: #B52828;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}

.header .my-brand h4 {font-weight: 600;margin-top: 26px;}

.header .my-brand:hover {background: #4AA3DF;}

.page {margin-top: 65px;}

.jui-sortable li {list-style: none;padding: 5px 10px;margin-bottom: 5px;cursor: move;width: 250px;background: #ebebeb;border: 1px solid #adadad;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-mo-border-radius: 4px;}

.jui-sortable li:hover {background: #ebebeb;border-color: #adadad;}

.tab-content {border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;border-left: 1px solid #ddd;}

.tab-pane {padding: 5px;}

.nav-tabs>li>a {border-radius: 0px;}

.nav>li>a {background-color: #eee;}

.nav-tabs > li.active > a,

.nav-tabs > li.active > a:hover,

.nav-tabs > li.active > a:focus {border-top: 3px solid #06C422;}

.sidebar {width: 250px;position: fixed;background: #32323A;height: 100%;}

.sidebar input {color: #6D767E;height: 35px;outline: none;text-indent: 5px;margin: 20px;background: #28282E;border: 1px solid #3e4347;}

.sidebar .icons ul{width: 250px;position: fixed;}

.sidebar .icons ul>li {list-style: none;border-bottom: 1px solid #3e4347;margin-left: -40px;}

.sidebar .icons ul>li:first-child {border-top: 1px solid #3e4347;}

.sidebar .icons ul>li>a {font-size: 14px;color: #6D767E;background: #32323A;padding: 20px;display: block;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;     }

.sidebar .icons ul>li>a:hover {text-decoration: none;color: #4AA3DF;background: #28282E;}

.sidebar .icons ul>li>ul {visibility: hidden;display: block;position: absolute;margin-left: 250px;margin-top: -61px;z-index: 5;}

.sidebar .icons ul>li>ul>li>a {-webkit-transition: all 0s ease;-moz-transition: all 0s ease;-o-transition: all 0s ease;-ms-transition: all 0s ease;transition: all 0s ease;}

.sidebar .icons ul>li:hover ul {visibility: visible;z-index: 5;}

.small-profile {margin-right: 30px;}

.small-profile a {color: #999;margin-left: 10px;display: inline-block;text-decoration: none;}

.small-profile .link {margin-top: 13px;}

.small-profile ul>li {list-style: none;float: left;}

.small-profile ul>li>a {padding: 0px 1px;font-size: 12px;}

.small-profile img {float: left;width: 50px;margin-top: 11px;border: 1px solid #eee;}
<!--
.all-content {width: 80%;background: white;position: absolute;margin-top: 10px;margin-left: 140px;padding: 10px;border-radius: 4px;z-index: 0;}

.my-form input,textarea {height: 35px;border: 1px solid #898ba2;color: #898ba2;width: 100%;outline: none;text-indent: 5px;margin-bottom: 10px;}

.my-form textarea {min-height: 100px;}

.my-form button {width: 100%;background: #6F6F6F;padding: 10px;border: none;color: white;}


.my-form button[id^="mce"],

.my-form button[role] {background: #eee;}

.my-form button[id^="mce"]:hover,

.my-form button[role]:hover {background: #e4e4e4;}

.my-form p {color: #999;font-size: 12px;}

.my-form button:hover {background: #1F2022;}
-->
.my-panel {margin-bottom: 15px;}

.my-panel-header {background: #00AD40;color: white;padding: 10px;}

.my-panel-header a {-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;color:#FFFFFF;}

.my-panel-header a:hover {color: #eee;text-decoration: none;}

.my-panel-body {padding: 10px;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;border-right: 1px solid #ddd;}

.modal {margin-top:150px;outline:none;}
article.news .news-button a:hover {
  text-decoration:none;
  background:#6B904E;
}
.all-news-button {
  margin-top:50px;
  margin-bottom:50px;
  text-align:center;
}
.all-news-button a {
  padding: 10px 25px;
  border: 2px solid #888f92;
  color: #888f92;
  font-size: 16px;
  transition: all 0.1s ease;
}
.all-news-button a:hover {
  text-decoration:none;
  color:white;
  background:#888f92;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #222222;
  padding-top: 5%; 
  background: url(../images/design/fon.png) no-repeat fixed; 
  background-size: 100% 100%;
}
.footer-nav li {
  list-style:none;
  float:left;
}
.footer-nav a {
  color: #828a8e;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  padding: 10px 15px;
  font-size: 11px;
}
.footer-nav a:hover {
  text-decoration:none;
}
.muted {
  color: #999999;
    font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
