
@media (max-width: 1087px) {

	.top-bg {
		background-size: auto 100%;
	}

}

@media (max-width: 959px) {

	.container {
		margin: 0 32px;
		width: auto;
	}

	.container.list {
		margin: 0 16px;
		width: auto;
	}

	/* Promo */
	#promo p {
		position: static;
	}

	#promo p:before {
		display: none;
	}

	/* How To */
	#how-to .item {
		padding-left: 400px;
	}

	#how-to .step-two {
		padding-left: 200px;
	}

	#how-to .item .image img {
		width: 80%;
	}

	/* News */
	#news .item h3 a:after,
	.blog .item h3 a:after {
		display: none;
	}

	/* Footer */
	#footer {
		padding-bottom: 8px;
	}

	#footer .item {
		margin-bottom: 32px;
		width: 50%;
	}

	#footer .nav ul {
		list-style-type: none;
	}

	/* Content */
	.bonuses-page .item {
		width: 33.3%;
	}

	.profile-page .site-profile-info .greeting p {
    	margin-bottom: 16px;
    	font: 14px/22px 'Stolzl-Regular', sans-serif;
	}

	.profile-page .site-profile-info .email-logout {
		float: none;
		padding-top: 32px;
		clear: both;
	}
	
}

@media (max-width: 767px) {

	/* Header */
	#header {
		margin-bottom: 64px;
	}

	.logo {
		float: left;
		padding-top: 53px;
		position: static;
	}

	#header .nav,
	.auth {
		display: none;
	}

	.menu-toggle {
		display: block;
	}

	@media (max-height: 350px) {

		.mobile-menu p {
			position: static;
			padding: 45px 0 60px;
		}

	}

	/* Promo */
	#promo h1 {
		font: 42px/56px 'Stolzl-Medium', sans-serif;
	}

	#promo h1 br {
		content: "";
	}

	/* Servers */
	#servers {
		padding: 64px 0 32px;
	}

	#servers .item {
		margin-bottom: 32px;
		width: 50%;
	}

	/* How To */
	#how-to {
		margin-bottom: 0;
		padding: 112px 0 60px;
	}

	#how-to h2 {
		margin-bottom: 48px;
	}

	#how-to .item {
		margin-bottom: 48px;
		padding: 0 16px;
	}

	#how-to .item .image {
		text-align: center;
		position: static;
	}

	#how-to .item .image img {
		max-width: 100%;
	}

	#how-to .item .text {
		margin: auto;
		max-width: 500px;
	}

	/* News */
	#news .item,
	.blog .item {
		width: 50%;
	}

	/* Social Networks */
	#social-networks .item {
		float: none;
		width: auto;
	}

	#social-networks .facebook {
		margin-bottom: 20px;
	}
	
	/* Footer */
	#footer .item {
		float: none;
		width: auto;
	}

	/* Content */
	.bonuses-page .item {
		width: 50%;
	}

	.game-profile-info li {
		width: 50%;
	}

	/* Form */
	.form .row .label {
		margin-bottom: 5px;
		line-height: 20px;
		position: static;
	}

	.form .row .field {
		padding: 0;
	}

}

@media (max-width: 479px) {

	/* Section */
	.section h2 {
		font: 32px/36px 'Stolzl-Bold', sans-serif;
	}

	/* Servers */
	#servers .item {
		float: none;
		margin: 0 auto 32px;
		width: auto;
		max-width: 240px;
	}

	/* How To */
	#how-to {
		padding: 48px 0 0;
	}

	/* News */
	#news {
		padding: 48px 0 16px;
	}

	#news .item,
	.blog .item {
		float: none;
		width: auto;
	}

	/* Social Networks */
	#social-networks {
		padding: 48px 0;
	}

	/* Footer */
	#footer {
		padding: 48px 0 16px;
	}

	/* Content */
	.article {
		padding-bottom: 48px;
	}

	.bonuses-page .container.list {
		position: static;
	}

	.bonuses-page .item {
		float: none;
		width: auto;
	}

	.profile-page .site-profile-info .greeting .links .btn {
		margin-bottom: 8px;
	}

	.profile-page .site-profile-info .avatar {
		margin-bottom: 24px;
	}

	.profile-page .site-profile-info .email-logout {
		padding-top: 24px;
	}

	.profile-page .site-profile-info .email-logout .logout {
		float: none;
		padding-top: 8px;
		clear: both;
	}

	.profile-page .site-profile-info .email-logout .btn {
		margin-left: 0;
	}

	.game-profile-info li {
		float: none;
		width: auto;
	}

	/* Form */
	.form .row .field .inputbox,
	.form .row .btn {
		max-width: 100%;
	}

}

@media (max-width: 375px) {
	
	/* Promo */
	#promo {
		padding: 0 0 64px;
	}

	#promo h1 {
		font: 36px/50px 'Stolzl-Medium', sans-serif;
	}

	/* Servers */
	#servers {
		padding: 32px 0 16px;
	}

}

@media (max-width: 320px) {
	
}